.chat-component {
	height: 100vh;
}

.chat-component header {
    position: relative;
    min-width: max-content;
    min-height: 12vh;
    border-radius: 5px;
    border-bottom: 2px solid #1f2126;
    /* box-shadow: -5px 12px 15px rgba(0, 0, 0, 0.5); */
}

.chat-component header img {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 80px;
    margin-left: 20px;
}

.chat-component header span {
    position: absolute;
    top: 30%;
    text-align: center;
	margin-left: 115px;
	font-size: 23px;
	color: gainsboro;
	font-weight: bold;
	max-width: 220px; /* Establece el ancho máximo del span */
	overflow: hidden; /* Oculta el texto que supere el ancho máximo */
	text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para el texto que se ha cortado */
	white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.chat-container {
    margin: 0 auto;
    min-width: max-content;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
	scrollbar-width: none;
    /* background: url(""); */
}

.chat-component footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 5px;
    min-width: max-content;
    min-height: 12vh;
    border-top: 2px solid #1f2126;
}

.placeholder-container {
    position: absolute;
    user-select: none;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.placeholder-title {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #61dafb;
    text-align: center;
}

.placeholder-subtitle {
    font-size: 20px;
    color: #4eabc5;
    text-align: center;
}

.chat-input {
    position: relative;
    background-color: #1f2126;
    border: 1px solid #1f2126;
    height: 40px;
    min-width: 85%;
    padding: 1px 50px;
    border-radius: 5px;
    color: gainsboro;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.message-container {
    width: 100%;
    margin: 2px 2px; /* Ajuste aquí para un espaciado uniforme */
    transition: 1s;
    clear: both; /* Agregado para evitar la disposición en línea */
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.message-container:first-child {
    margin-top: 15px;
}

.message-user-icon {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 0; 
    margin-left: 20px;
    float: left;
    user-select: none;
}

.message-user-icon.yours {
    float: right;
    margin-right: 20px;
    margin-left: 0;
}

.message {
    background-color: #0093FF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: 500px;
    word-wrap: break-word;
    display:inline-block;
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.message p {
    color: white;
    margin: 0;
    font-size: 14px;
    max-width: 250px;
}

.message-container.yours .message {
    margin-left: 0; 
    margin-right: 20px;
    float: right;
}